<%- include('partials/adminheader'); -%>
<div class="row">
    <div class="col-md-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title">
                    <h2 data-aos="fade-in">Profile</h2>
                </div>
            </div>
        </div>
        <% let img = "assets/img/profile.png"; %>
        <% if(admin.imgurl !== ""){ %>
        <%    img = admin.imgurl; %>
        <% } %>
        <div class="row justify-content-center">
            <div class="col-md-9 contain" data-aos="fade-left">
                <div class="floa"><a onclick="toggle('upload-container')"><i class="fas fa-camera fa-2x text"></i></a></div>
                <a onclick="toggle('upload-container')">
                    <img src="<%=img%>" alt="profile pic" class="image">
            </div><br>
        </div> 
        <div class="row justify-content-center" >
            <div class="col-md-12 " data-aos="fade-right"><h4 style="color:rgb(252, 113, 58); text-align:center;"><%= admin.name %></h4></div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-md-12 " data-aos="fade-right"><h4 style="text-align:center;">HR Manager</h4></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 " data-aos="fade-right"><h5 style="text-align:center;"><a href="mailto:<%= admin.email %>"><%= admin.email %></a></h5></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12" data-aos="fade-right"><h5 style="text-align:center;"><%= admin.organization %></h5></div>
        </div>
       
        <div class="row justify-content-center" >
            <div class="col-md-4" data-aos="zoom-in-left"><h5 style="text-align:right;"><a href="<%= admin.orgwebsite %>" target="_blank"><i class="fas fa-at fa-lg"></i></a></h5></div>
            <div class="col-md-4" data-aos="zoom-in"><h5 style="text-align:center;"><a href="<%= admin.linkedin %>" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></h5></div>
            <div class="col-md-4" data-aos="zoom-in-right"><h5 style="text-align:left;"><a href="mailto:<%= admin.email %>"><i class="fas fa-paper-plane"></i></a></h5></div>
            
        </div>
    </div>
    <div class="col-md-9 effect">
         <%var roles %>
         <% var count=0; %>
         <% roles.forEach((element) => { %>
         <%  if(count%3 == 0){ %>
                <div class="row">
         <% } %>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/jobs-img/<%=element.name%>.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 700; text-align: center;"><%= element.name %></h5>
                <a href="/displayres-<%=element.name%>" class="btn btn-primary"> Click here to find candidates for this role! </a>
            </div>
        </div>
    </div> 
    <% count++; %>
    <% if(count%3 == 0){ %>
        </div>
    <% } %>
         <% }); %>
</div></div>
<div class="row">
    <div class="container upload-container" id="upload-container">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <h4 style="font-weight: 700; text-align: center;">Update Profile</h4>
            </div>
            <div class="col-md-1 offset-md-1">
                <a style="font-size: 20px" onclick="clos('upload-container');"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <form action="/findbyrole/upload-<%= admin._id%>" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-md-12">
                    <label for="update-photo" class="form-label">Select Photo</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="update-photo" name="upload" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Upload Image" />
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer'); -%>